@model WebApplication1.Models.Category

<h1>Edit Category</h1>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>

    <br />

    <button type="submit">Save</button>

</form>